// Required
@import '../../node_modules/bootstrap/scss/functions';

// Default variable overrides
// $body-bg: #000;
// $body-color: #111;
$primary: #1b28a4;

$font-family-base: 'Nunito', sans-serif;

// Required
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

@import '../../node_modules/bootstrap/scss/bootstrap';

.bg-lavender {
	background-color: #d8daff;
}

.gradient-nightblue {
	background-image: linear-gradient(to bottom, #0f1b93 null, #3f75ec null);
}

.gradient-deeppurple {
	background-image: linear-gradient(to bottom, #1f1061 null, #000b22 null);
}

//Hide the Mobile nav on desktop
#mobileNav {
	@extend .d-md-none;
}

#mainNavbar {
	.nav-link {
		@extend .py-3;
		display: inline-block;
		color: $white;
		// @extend .px-4;
	}
}

#mobileNav {
	padding-top: 1.1rem;

	@include media-breakpoint-up(sm) {
		padding-top: 2.6rem;
	}
}

//Styling for the navbar logo at breakpoints
.navbar-brand {
	padding: 0;
	margin-top: -0.5rem;
	margin-bottom: -0.5rem;

	.navbar-brand-bg {
		background-color: #ebebeb;
		margin-left: -($grid-gutter-width / 2);
		padding: 0.5rem 1rem;
		margin-bottom: -0.4rem;

		img {
			width: 200px;
			height: 46px;
		}
	}

	@include media-breakpoint-up(sm) {
		.navbar-brand-bg {
			padding: 0.8rem 1.5rem;
			margin-bottom: -1.7rem;

			img {
				width: 280px;
				height: 60px;
			}
		}
	}

	@include media-breakpoint-up(md) {
		.navbar-brand-bg {
			margin-left: unset;
			margin-bottom: -0.3rem;

			img {
				width: 300px;
				height: 65px;
			}
		}
	}

	@include media-breakpoint-up(lg) {
		.navbar-brand-bg {
			padding: 1rem 2rem;
			margin-bottom: -1.3rem;

			img {
				width: 360px;
				height: 80px;
			}
		}
	}
}

.get-connected {
	background-color: #000000b3;
}

#cta {
	position: relative;

	.get-connected {
		margin-top: 40vh;
		margin-bottom: 3rem;
	}

	.video-wrapper {
		@extend .bg-dark;

		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
		z-index: -100;
		right: 0;
		bottom: 0;
		overflow: hidden;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 101%;
			background: url(/static/img/cta-crop-2.png) bottom center/cover;
			background-repeat: no-repeat;
		}

		video {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}
}

#features {
	.features-container {
		background-color: $white;
		border: 9px solid #ccbdff;
		border-radius: 0.25rem;
	}
}

#playerCount {
	.player-count-number {
		font-size: 7rem;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 0;
		.start-zero {
			color: #ffffff40;
		}
	}
}

footer {
	a {
		color: $white;
	}
}
